---
import Mainlayouts from "../layouts/Mainlayouts.astro";
---

<Mainlayouts>
  <section class="grup_1">
    <h1>GØR EN FORSKEL - ÉN SØM AD GANGEN</h1>
    <h1>KØB MED OMTANKE</h1>
    <h1>BÆREDYGTIGE PRODUKTER MED ET FORMÅL</h1>
  </section>
  <!--   <div class="parallax">
    <div class="tekstbox_left_first">I værkstedet på Nørrebro finder du vores butik, med håndlavede gardiner, veste, tasker, broderi, gardiner og mere</div>
    <div class="tekstbox_right">Kom forbi Lundtoftegade og se hvordan vi genskaber kasserede tekstiler med plantefarvning og smukke designs</div>
    <div class="tekstbox_left">Vi er mere end bare en virksomhed; vi er et fællesskab af udsatte kvinder, der sammen skaber smukke og stilfulde produkter af genanvendte tekstiler.</div>
    <div class="tekstbox_right_last">Hos os handler det ikke kun om at fremstille varer – det handler om at skabe meningsfulde jobmuligheder og støtte dem, der har brug for det mest.</div>
  </div> -->
  <div class="parallax_1">
    <div class="tekstbox_left">I værkstedet på Nørrebro finder du vores butik, med håndlavede gardiner, veste, tasker, broderi, gardiner og mere</div>
    <div class="tekstbox_right">Kom forbi Lundtoftegade og se hvordan vi genskaber kasserede tekstiler med plantefarvning og smukke designs</div>
  </div>
  <div class="parallax_2">
    <div class="tekstbox_left">Vi er mere end bare en virksomhed; vi er et fællesskab af udsatte kvinder, der sammen skaber smukke og stilfulde produkter af genanvendte tekstiler.</div>
    <div class="tekstbox_right">Hos os handler det ikke kun om at fremstille varer – det handler om at skabe meningsfulde jobmuligheder og støtte dem, der har brug for det mest.</div>
  </div>
  <section class="grup_2">
    <img class="traad" src="../public/img/traad1.png" alt="traad" />
    <div class="traad"></div>
    <div class="artikel_tekst">
      <h2>Et produkt fra I Tråd Med Verden, er det ikke bare en genstand, du bringer hjem.</h2>
      <p>
        Bag hvert produkt gemmer der sig en historie, en vision og et værdifuldt bidrag til både samfundet og miljøet. Som en socialøkonomisk virksomhed er vores mission mere end blot at fremstille produkter - det handler om at skabe meningsfulde jobmuligheder og støtte dem, der har brug for det mest.

        <p>Ved at bruge genanvendte tekstiler reducerer vi ikke kun affaldsmængden, men vi reducerer også vores økologiske fodaftryk betydeligt. Når du køber et produkt fra os, investerer du ikke kun i et stykke tøj - du investerer i en bæredygtig fremtid</p>
        <h6 class="h6_margin">"Vores dedikerede team sikrer, at hvert produkt er skabt med omhu og kærlighed, fra idé til færdigt produkt."</h6>

        <p>Vi tror på at skabe en positiv arbejdsoplevelse for vores medarbejdere, hvor de kan trives og vokse både personligt og professionelt. Ved at købe vores produkter er du med til at støtte ikke kun en bæredygtig produktion, men også et fællesskab af kvinder, der finder styrke og formål gennem deres arbejde.</p>

        <h6>“Vi tror på, at mennesker bliver gladere og stærkere af at arbejde med noget de brænder for.“</h6>
      </p>
    </div>
  </section>

  <section class="grup_3">
    <article class="grid_1_1">
      <div>
        <img src="" alt="" />
      </div>
      <div>
        <img src="" alt="" />
      </div>
    </article>
  </section>

  <section class="grup_4">
    <div class="artikel_tekst">
      <h6>“Min største drøm er, at krigen stopper i Ukraine. Min ældste søn, min mor, min far og min bror er alle i Ukraine lige nu. “</h6>
      <p>Før jeg kom til Danmark og blev ansat hos I Tråd Med Verden, boede jeg i Ukraine, hvor jeg arbejdede i en butik i 30 år. Min hobby er at sy tøj og tasker af tekstiler og uld.</p>
      <p>Jeg elsker at sy, og har gjort det syet i 40 år, så min erfaring er stor. Udover at sy, broderer jeg også og arbejder med japansk og brasiliansk broderi, som kunderne virkelig godt kan lide. For tiden arbejder jeg også med et projekt om kulturnatten i København.</p>
      <p>Jeg kan lide alt ved at arbejde her, og får dagligt inspiration, når jeg syer og vælger farver til mine produkter.</p>
      <h6>“Det giver mig meget glæde at være her.”</h6>

      <p>
        Jeg håber på at kunne arbejde fuldtid hos ITMV, så jeg kan arbejde 5 dage om ugen igen. Jeg kan lide at arbejde med store projekter, når vi arbejder med andre virksomheder. Det er virkelig interessant. Min drøm er at have min egen butik en dag, hvor jeg kan lave tasker. Jeg elsker at lave tasker, og jeg har lavet mange gennem tiden, både i
        Danmark og i Ukraine.
      </p>
      <h6>“Når jeg arbejder i værkstedet glemmer jeg tidens gang, og giver mig fuldstændig hen til mit arbejde. Det gør mig glad at være her. “</h6>
    </div>
  </section>

  <section class="grup_5">
    <video class="videobackground" autoplay muted loop>
      <source src="../img/itmv_video.mp4" type="video/mp4" />
    </video>
    <div class="artikel_tekst_video">
      <p>Næste gang du køber et produkt fra I Tråd Med Verden, så husk at du ikke bare køber et stykke tøj - du køber et håb, en drøm og en mulighed for forandring.</p>
      <p>Velkommen til vores fællesskab, hvor hvert produkt er mere end bare et produkt - det er et symbol på håb og muligheder for en bedre verden.</p>
    </div>
  </section>
</Mainlayouts>
