  <footer>

      <section>
<h3>Donasjoner</h3>
<a class="button" href="https://www.itmv.dk/pages/donation">Les mer her</a>
      </section>
        <section>
            <h3>Følg oss</h3>
            <div class="ikoner">
                <a  href="https://www.instagram.com/itraadmedverden"> <img src="/svg/insta.svg"
                    alt="link til itmv instagram"></a>
                <a  href="https://www.facebook.com/itraadmedverden"> <img src="/svg/facbook.svg"
                    alt="link til itmv facebook"></a>
                <a  href="https://www.linkedin.com/company/i-tråd-med-verden/"> <img src="/svg/linkedin.svg"
                    alt="link til itmv linked in"></a>
            </div>
        </section>
    </footer>


<style>
    h3 {
        font-size: 2rem;
    }

    a {
        text-decoration: underline;
        color: black;
        font-size: 1.3rem;
        margin-top: -22%;
    }

    footer {
        display: flex;
        flex-direction: row;
        margin: auto;
        background-image: url(/public/img/footer.webp);
        gap: 20px;
          background-attachment: fixed;
  background-size: cover;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ikoner {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
   
    }
</style>
